.site-header {
  .navbar {
    padding: 16px 40px;
    border-radius: 100px;
    box-shadow: 0px 2px 40px 0px #0068ff1a;
  }

  // 桌面版 探索 + form
  .navbar-desktop {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-nav {
    align-items: center;
  }

  // toggle
  .dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    &::after {
      content: '\e313';
      font-family: 'Material Symbols Outlined';
      border-top: 0;
    }
  }

  // dropdown
  .dropdown-menu {
    padding: 0;
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 25px 50px -12px #0000001f;
    margin-top: 32px;
    left: -100px;
  }

  .dropdown-menu-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: scroll;
    border-right: 1px solid $neutral-40;

    li {
      width: 208px;
    }

    .list-group-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 24px;
    }

    .list-group-link:hover {
      background-color: $primary-100;
      color: $neutral-0;
      font-weight: $font-weight-semibold;
      border-radius: 12px;
    }

    .dropdown-item.active {
      color: $neutral-0;
      border-radius: 12px;
    }

    .dropdown-menu-title {
      padding-bottom: 16px;
      border-bottom: 1px solid $neutral-40;
    }

    .course-card {
      width: 351px;

      .card-image {
        width: 100px;
        height: 100px;
        flex-shrink: 0;

        .banner-tag-position {
          position: absolute;
          top: 4px;
          left: 4px;
        }
      }

      .card-img-top {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 12px;
      }

      .card-body {
        flex: 1 1 auto; // 剩餘空間填滿
      }
    }
  }

  .form-search-position {
    position: relative;

    .form-search-input {
      width: 425px;
      padding: 20px 8px 20px 40px;
      border: 1px solid $neutral-40;
      border-radius: 16px;
    }

    .form-search-input::placeholder {
      color: $neutral-60;
      opacity: 1;
    }

    span {
      top: 50%;
      left: 8px;
      transform: translateY(-50%) !important;
      color: $black;
    }

    button {
      top: 50%;
      right: 8px;
      transform: translateY(-50%) !important;
    }
  }

  // 桌面版 + 手機版 icon
  .nav-visible {
    .navbar-nav {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

    .nav-link {
      display: flex;
      padding: 8px 12px;

      &:hover {
        background-color: $neutral-40;
        border-radius: 8px;
      }
    }
  }

  // 手機版
  .navbar-mobile {
    .offcanvas-header {
      .list-group {
        width: 100%;
        display: flex;
      }

      .list-group-link {
        display: block;
        padding: 16px;
      }

      .list-group-link:hover {
        color: $primary-100;
        font-weight: $font-weight-semibold;
      }
    }

    .offcanvas-body {
      .list-group-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $neutral-80;
        padding: 12px 24px;
      }

      .list-group-link:hover {
        background-color: $primary-100;
        color: $neutral-0;
        font-weight: $font-weight-semibold;
        border-radius: 12px;
      }
    }
  }

  @media (max-width: 1200px) {
    .navbar {
      padding: 0;
      border-radius: 0;
      box-shadow: none;
    }

    .nav-visible {
      margin-left: auto;
      margin-right: 16px;
    }
  }
}

.footer {
  color: $neutral-0;
  padding: 100px 0;

  &.bg {
    background-color: #282828;
    border-radius: 80px 80px 0 0;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .footer-nav a:hover {
    position: relative;
  }

  .footer-nav a:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: $neutral-0;
    left: 0;
    bottom: -2px;
    transition: transform 0.3s ease;
  }

  .footer-social a {
    display: inline-flex;
    transition: transform 0.3s ease;
  }

  .footer-social a:hover {
    transform: translateX(4px);
  }

  @media (max-width: 992px) {
    padding: 48px 24px;

    .footer-top {
      display: block;
      margin-bottom: 40px;
    }

    .logo-white {
      margin-bottom: 40px;
    }

    .footer-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }

    .footer-bottom {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .footer-social {
      margin-bottom: 32px;
    }
  }
}
